.faq
    .container
        .faq__inner
            .faq__title.title Как к нам поступить?
            .faq__items
                .faq__item.faq__item--1
                    .faq__item-title Вы оставляете заявку
                .faq__arrow
                .faq__item.faq__item--2
                    .faq__item-inner 
                        .faq__item-title Проходите собеседование
                        .faq__item-note (желательно иметь портфолио)
                .faq__arrow
                .faq__item.faq__item--3
                    .faq__item-title Успешно сдаете ЕГЭ
                .faq__arrow
                .faq__item.faq__item--4
                    .faq__item-title Подаете документы в <br class="br">РЭУ им Г.В. Плеханова