include ../layout/mixins

.footer
    .footer__mobile.mfooter
        .container
            .mfooter__head
                .mfooter__request
                    .mfooter__button Задать вопрос в мессенджере 
                    .mfooter__messengers
                        .mfooter__messenger
                            a(href="#") Telegram
                        .mfooter__messenger
                            a(href="#") WhatsApp
                        .mfooter__messenger
                            a(href="#") Вконтакте
                        .mfooter__messenger
                            a(href="#") Facebook
            .mfooter__body
                .mfooter__links
                    .mfooter__link
                        a(href="#") Мероприятия
                    .mfooter__link
                        a(href="#") Абитуриентам
                    .mfooter__link
                        a(href="#") О факультете
                    .mfooter__link
                        a(href="#") Документы
                .mfooter__conts
                    a(href="").mfooter__phone 8 (800) 500 93 71 
                    a(href="").mfooter__mail info@kapitany-russia.ru
                    .mfooter__address Москва, <br>Стремянный пер., 36
        .mfooter__social
            .mfooter__social-link.mfooter__social-link--insta
                a(href="#")
            .mfooter__social-link.mfooter__social-link--ytube
                a(href="#")
            .mfooter__social-link.mfooter__social-link--fb
                a(href="#")
            .mfooter__social-link.mfooter__social-link--vk
                a(href="#")
    .footer__descktop.dfooter
            .dfooter__head
                .container
                    .dfooter__question Задайте <br class="br">вопрос в мессенджере
                    .dfooter__arrow
                    .dfooter__messengers
                        a(href="").dfooter__messenger WhatsUp
                        a(href="").dfooter__messenger Telegram
                        a(href="").dfooter__messenger Вконтакте
                        a(href="").dfooter__messenger Фейсбук
                    a(href="").dfooter__recall Перезвоните мне
            .dfooter__body
                .container  
                    .dfooter__logo
                        a(href="").logo
                            .logo__text Капитаны
                    .dfooter__menus
                        .dfooter__menu
                            a(href="#").dfooter__menu-title Абитуриенту
                            a(href="#").dfooter__menu-link Бакалавриат
                            a(href="#").dfooter__menu-link Магистратура
                            a(href="#").dfooter__menu-link Дни открытых дверей
                            a(href="#").dfooter__menu-link Мероприятия
                        .dfooter__menu
                            a(href="#").dfooter__menu-title О факультете
                            a(href="#").dfooter__menu-link История
                            a(href="#").dfooter__menu-link Программа обучения
                            a(href="#").dfooter__menu-link Руководство
                            a(href="#").dfooter__menu-link Преподаватели
                        .dfooter__menu
                            a(href="#").dfooter__menu-title Документы
                            a(href="#").dfooter__menu-link Договор на оказание <br class="br">образовательных услуг
                            a(href="#").dfooter__menu-link Реквизиты
                            a(href="#").dfooter__menu-link Устав
                    .dfooter__conts
                        a(href="").dfooter__phone 8 (800) 500 93 71 
                        a(href="").dfooter__mail info@kapitany-russia.ru
                        .dfooter__social
                            .dfooter__social-link.dfooter__social-link--insta
                                a(href="#")
                            .dfooter__social-link.dfooter__social-link--ytube
                                a(href="#")
                            .dfooter__social-link.dfooter__social-link--fb
                                a(href="#")
                            .dfooter__social-link.dfooter__social-link--vk
                                a(href="#")
                        .dfooter__address Москва, Стремянный пер., 36
    .footer__bottom
        .container
            .footer__univer Российский Экономический <br class="br">Университет имени Г. В. Плеханова
            .footer__confidential 
                a(href="#") Политика конфиденциальности
            .footer__copy
                .footer__copy-name Дизайн и разработка – 
                .footer__copy-link
                    a(href="#") insaim