include ../layout/mixins

.reviews
    .container
        .reviews__inner
            .reviews__title.title Отзывы
            .reviews__items
                +reviews("img/reviews/1.jpg")
                +reviews("img/reviews/2.jpg")
                +reviews("img/reviews/3.jpg")
                +reviews("img/reviews/4.jpg")