include ../layout/mixins

.sucsess
    .container
        .sucsess__inner
            .sucsess__title.title История успеха <br class="br">студентов
            .sucsess__slider
                .sucsess__slider-inner
                    .slider_second                 
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                        +slidesSucsess()
                    .arrows
                        .prev.prev-sec
                        .numSlides 1/10
                        .next.next-sec