extends layout/main

block content
    include ./modules/mainBlock
    .group-block
        include ./modules/about
        include ./modules/programm
    include ./modules/life
    include ./modules/grant
    include ./modules/sucsess
    include ./modules/reviews
    include ./modules/faq
    include ./modules/request
    include ./modules/footer