.footer {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background: #0c0b12;
  padding-top: 39px;
  &__mobile {
  }
  &__descktop {
  }
  &__bottom {
    border-top: 1px solid #555555;
    .container {
      padding-top: 36px;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      @include min-tablet-l {
        flex-direction: row;
        align-items: center;
        padding: unset;
      }
    }
  }
  &__univer {
    color: #7e7e7e;
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    @include min-tablet-l {
      margin-right: 30px;
      padding-bottom: unset;
    }
    >br{
      @include min-tablet-l {
        display: none;
      }
    }
  }
  &__confidential {
    text-align: center;
    margin-bottom: 25px;
    @include min-tablet-l {
      margin-bottom: unset;
    }
    > a {
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__copy {
    display: flex;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 13px;
    border-top: 1px solid #555555;
    @include min-tablet-l {
      border-top: unset;
      flex: 1;
      justify-content: flex-end;
    }
  }
  &__copy-name {
    color: #7e7e7e;
    font-size: 14px;
    line-height: 21px;
  }
  &__copy-link {
    > a {
      text-decoration: none;
      font-size: 14px;
      line-height: 21px;
      color: #ffffff;
      &:hover{
        color: #FFD459;
      }
    }
  }
}

.mfooter {
  @include min-tablet-l {
    display: none;
  }
  &__head {
  }
  &__request {
    display: flex;
    flex-direction: column;
  }
  &__button {
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 16px 0;
    text-align: center;
    border: 1px solid rgba(68, 77, 216, 0.6);
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 4.58579L10.2929 0.292893C10.6834 -0.0976311 11.3166 -0.0976311 11.7071 0.292893C12.0976 0.683418 12.0976 1.31658 11.7071 1.70711L6.70711 6.70711C6.31658 7.09763 5.68342 7.09763 5.29289 6.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L6 4.58579Z' fill='%23444DD8'/%3E%3C/svg%3E%0A");
      display: block;
      position: absolute;
      right: 21px;
      transition: transform 1s;
    }
    &--active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &__messengers {
    display: none;
    flex-wrap: wrap;
    &--active {
      display: flex;
    }
  }
  &__messenger {
    text-align: center;
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 10px);
    border: 1px solid rgba(68, 77, 216, 0.6);
    padding: 16px 0;
    // margin: 5px 0;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    &:nth-child(2n) {
      margin-right: unset;
    }
    > a {
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
    }
    &:hover{
      background: #2F37BA;
      border: 1px solid #444DD8;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
  }
  &__links {
    display: flex;
    flex-direction: column;
  }
  &__link {
    margin-bottom: 20px;
    > a {
      text-decoration: none;
      font-size: 14px;
      line-height: 120%;
      color: #ffffff;
    }
  }
  &__conts {
    display: flex;
    flex-direction: column;
  }
  &__phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__mail {
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__address {
    font-size: 14px;
    line-height: 120%;
  }
  &__social {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #555555;
    align-items: center;
  }

  &__social-link {
    margin: 0 15px;
    &--insta {
      > a {
        content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5862 0H5.41382C2.42859 0 0 2.42859 0 5.41382V14.5863C0 17.5714 2.42859 20 5.41382 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41382C20 2.42859 17.5714 0 14.5862 0V0ZM10 15.4686C6.98456 15.4686 4.5314 13.0154 4.5314 10C4.5314 6.98456 6.98456 4.5314 10 4.5314C13.0154 4.5314 15.4686 6.98456 15.4686 10C15.4686 13.0154 13.0154 15.4686 10 15.4686ZM15.5994 5.82108C14.7083 5.82108 13.9835 5.09628 13.9835 4.20517C13.9835 3.31406 14.7083 2.58911 15.5994 2.58911C16.4905 2.58911 17.2154 3.31406 17.2154 4.20517C17.2154 5.09628 16.4905 5.82108 15.5994 5.82108Z' fill='white'/%3E%3Cpath d='M10.0016 5.83276C7.70423 5.83276 5.83496 7.70188 5.83496 9.99943C5.83496 12.2968 7.70423 14.1661 10.0016 14.1661C12.2992 14.1661 14.1683 12.2968 14.1683 9.99943C14.1683 7.70188 12.2992 5.83276 10.0016 5.83276Z' fill='white'/%3E%3C/svg%3E%0A");

      }
      &:hover{
        > a {
        content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5862 0H5.41382C2.42859 0 0 2.42859 0 5.41382V14.5863C0 17.5714 2.42859 20 5.41382 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41382C20 2.42859 17.5714 0 14.5862 0V0ZM10 15.4686C6.98456 15.4686 4.5314 13.0154 4.5314 10C4.5314 6.98456 6.98456 4.5314 10 4.5314C13.0154 4.5314 15.4686 6.98456 15.4686 10C15.4686 13.0154 13.0154 15.4686 10 15.4686ZM15.5994 5.82108C14.7083 5.82108 13.9835 5.09628 13.9835 4.20517C13.9835 3.31406 14.7083 2.58911 15.5994 2.58911C16.4905 2.58911 17.2154 3.31406 17.2154 4.20517C17.2154 5.09628 16.4905 5.82108 15.5994 5.82108Z' fill='white'/%3E%3Cpath d='M10.0016 5.83276C7.70423 5.83276 5.83496 7.70188 5.83496 9.99943C5.83496 12.2968 7.70423 14.1661 10.0016 14.1661C12.2992 14.1661 14.1683 12.2968 14.1683 9.99943C14.1683 7.70188 12.2992 5.83276 10.0016 5.83276Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
        }
      }
    }
    &--ytube {
      > a {
        content: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.1849 2.33452C22.5389 1.18549 21.8379 0.97414 20.4105 0.893767C18.9846 0.797022 15.3991 0.756836 12.2929 0.756836C9.18065 0.756836 5.59364 0.797022 4.16926 0.892279C2.74488 0.97414 2.04236 1.184 1.39045 2.33452C0.725141 3.48207 0.382812 5.45864 0.382812 8.93848C0.382812 8.94146 0.382812 8.94295 0.382812 8.94295C0.382812 8.94592 0.382812 8.94741 0.382812 8.94741V8.95039C0.382812 12.4153 0.725141 14.4068 1.39045 15.5424C2.04236 16.6915 2.74339 16.8998 4.16777 16.9966C5.59364 17.0799 9.18065 17.1291 12.2929 17.1291C15.3991 17.1291 18.9846 17.0799 20.412 16.9981C21.8394 16.9013 22.5404 16.693 23.1863 15.5439C23.8576 14.4083 24.197 12.4168 24.197 8.95188C24.197 8.95188 24.197 8.94741 24.197 8.94444C24.197 8.94444 24.197 8.94146 24.197 8.93997C24.197 5.45864 23.8576 3.48207 23.1849 2.33452ZM9.31312 13.4081V4.4778L16.755 8.94295L9.31312 13.4081Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
    &--fb {
      > a {
        content: url("data:image/svg+xml,%3Csvg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.96345 7.73714V4.92364C7.96345 4.14711 8.59368 3.51688 9.37021 3.51688H10.777V0H7.96345C5.63246 0 3.74319 1.88927 3.74319 4.22026V7.73714H0.929688V11.254H3.74319V22.5081H7.96345V11.254H10.777L12.1837 7.73714H7.96345Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
    &--vk {
      > a {
        content: url("data:image/svg+xml,%3Csvg width='25' height='14' viewBox='0 0 25 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2955 12.4032C24.2315 12.2961 23.8355 11.4358 21.9304 9.66757C19.936 7.81602 20.2039 8.11667 22.6061 4.91516C24.0692 2.96537 24.6542 1.77467 24.4711 1.26564C24.2969 0.780426 23.2208 0.908427 23.2208 0.908427L19.6428 0.929264C19.6428 0.929264 19.3778 0.893543 19.1799 1.01113C18.9879 1.12722 18.8643 1.39513 18.8643 1.39513C18.8643 1.39513 18.2973 2.90435 17.5412 4.18734C15.9471 6.89471 15.3086 7.03759 15.0481 6.8694C14.4424 6.47796 14.5942 5.29469 14.5942 4.45525C14.5942 1.83123 14.9916 0.737263 13.8187 0.45447C13.4288 0.360702 13.143 0.29819 12.1473 0.287771C10.8702 0.274375 9.78818 0.292236 9.17646 0.591401C8.76864 0.790845 8.45459 1.23587 8.64659 1.26117C8.88324 1.29243 9.41906 1.40555 9.70334 1.79253C10.071 2.29114 10.0576 3.41338 10.0576 3.41338C10.0576 3.41338 10.2689 6.50177 9.56492 6.88578C9.0812 7.14922 8.41887 6.61191 6.99746 4.15459C6.26964 2.89691 5.71894 1.50527 5.71894 1.50527C5.71894 1.50527 5.61327 1.24629 5.42424 1.10787C5.19503 0.939683 4.87354 0.886101 4.87354 0.886101L1.47109 0.906939C1.47109 0.906939 0.960577 0.921823 0.773041 1.14359C0.606342 1.34155 0.759645 1.74936 0.759645 1.74936C0.759645 1.74936 3.42385 7.98123 6.43932 11.1232C9.20622 14.0032 12.3467 13.8142 12.3467 13.8142H13.7696C13.7696 13.8142 14.1998 13.7666 14.4185 13.5299C14.621 13.3126 14.6135 12.9048 14.6135 12.9048C14.6135 12.9048 14.5852 10.9952 15.4723 10.7139C16.346 10.4371 17.4682 12.5595 18.6575 13.3766C19.5564 13.9943 20.2396 13.8589 20.2396 13.8589L23.4203 13.8142C23.4203 13.8142 25.0843 13.7115 24.2955 12.4032Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.dfooter {
  display: none;
  @include min-tablet-l {
    display: flex;
    flex-direction: column;
    &__head {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        border-bottom: 1px solid #555555;
      }
    }
    &__arrow {
      content: url("data:image/svg+xml,%3Csvg width='47' height='8' viewBox='0 0 47 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M46.3536 4.35355C46.5488 4.15829 46.5488 3.84171 46.3536 3.64645L43.1716 0.464466C42.9763 0.269204 42.6597 0.269204 42.4645 0.464466C42.2692 0.659728 42.2692 0.976311 42.4645 1.17157L45.2929 4L42.4645 6.82843C42.2692 7.02369 42.2692 7.34027 42.4645 7.53553C42.6597 7.7308 42.9763 7.7308 43.1716 7.53553L46.3536 4.35355ZM0 4.5H46V3.5H0V4.5Z' fill='white'/%3E%3C/svg%3E%0A");
      margin: 0 25px;
    }
    &__messengers {
      display: flex;
      flex: 1;
    }
    &__messenger {
      text-decoration: none;
      color: #fff;
      text-align: center;
      // width: calc(1 / 4 * 100% - (1 - 1 / 2) * 10px);
      border: 1px solid rgba(68, 77, 216, 0.6);
      padding: 16px 0;
      margin-right: 20px;
      flex: 1;
      &:hover{
        background: #2F37BA;
        border: 1px solid #444DD8;
      }
    }
    &__recall {
      text-decoration: none;
      color:#fff;
      text-align: center;
      border: 1px solid rgba(68, 77, 216, 0.6);
      padding: 16px 70px;
      &:hover{
        background: #2F37BA;
        border: 1px solid #444DD8;
      }
    }
    &__body {
      .container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 65px;
        padding-top: 72px;
      }
    }
    &__menus {
      display: flex;
      flex: 1;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      flex: 1;
      a {
        text-decoration: none;
      }
    }
    &__menu-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
      color: #fff;
      margin-bottom: 32px;
      &:hover{
        color: #FFD459;
      }
    }
    &__menu-link {
      font-size: 16px;
      line-height: 120%;
      color: #7e7e7e;
      margin-bottom: 13px;
      &:hover{
        color: #fff;
      }
    }
    &__logo {
      text-decoration: none;
      color: #fff;
      padding-right: 58px;
      > .logo {
        display: flex;
        position: relative;
        padding-left: 50px;
        text-decoration: none;
        > div {
          line-height: 100%;
          text-decoration: none;
        }
        &::before {
          content: url("data:image/svg+xml,%3Csvg width='32' height='45' viewBox='0 0 32 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.88 34.5488L7.92 38.2958L6.875 40.2794L0 36.8631L0.88 34.5488Z' fill='white'/%3E%3Cpath d='M1.20898 34.0529L8.41398 37.8549L10.394 35.8712L3.84898 27.2202L1.20898 34.0529Z' fill='white'/%3E%3Cpath d='M4.29102 26.8346L11.056 35.9815L13.146 34.7141L7.53602 19.2305L4.29102 26.8346Z' fill='white'/%3E%3Cpath d='M13.5842 34.7143L7.69922 18.4592L15.4542 0L15.5092 34.4388L13.5842 34.7143Z' fill='white'/%3E%3Cpath d='M30.7456 34.4937L23.2656 38.5161L24.4206 40.3896L31.5706 36.8079L30.7456 34.4937Z' fill='white'/%3E%3Cpath d='M30.3601 34.0532L22.8251 38.0206L20.9551 36.2022L27.7201 27.1104L30.3601 34.0532Z' fill='white'/%3E%3Cpath d='M27.4991 26.5042L20.4591 35.9818L18.3691 34.7144L24.3091 18.3491L27.4991 26.5042Z' fill='white'/%3E%3Cpath d='M17.9309 34.7143L23.8159 18.4592L16.0609 0L16.0059 34.4388L17.9309 34.7143Z' fill='white'/%3E%3Cpath d='M15.7854 44.8529L24.1454 40.61C22.7704 37.2488 19.5254 34.8794 15.6754 34.8794C11.7704 34.8794 8.41539 37.359 7.15039 40.8304L15.7854 44.8529Z' fill='white'/%3E%3C/svg%3E%0A");
          display: block;
          position: absolute;
          left: 0;
          bottom: -5px;
        }
      }
    }
    &__conts {
      display: flex;
      flex-direction: column;
      text-align: right;
    }
    &__phone {
      text-decoration: none;
      font-weight: bold;
      font-size: 21px;
      line-height: 160%;
      color: #ffffff;
      margin-bottom: 10px;
    }
    &__mail {
      text-decoration: none;
      font-size: 16px;
      line-height: 100%;
      color: #7e7e7e;
      margin-bottom: 15px;
    }
    &__address {
      font-size: 14px;
      line-height: 120%;
    }
    &__social {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      align-items: center;
    }

    &__social-link {
      margin-right: 30px;
      &:last-child {
        margin-right: unset;
      }
      &--insta {
        > a {
          content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5862 0H5.41382C2.42859 0 0 2.42859 0 5.41382V14.5863C0 17.5714 2.42859 20 5.41382 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41382C20 2.42859 17.5714 0 14.5862 0V0ZM10 15.4686C6.98456 15.4686 4.5314 13.0154 4.5314 10C4.5314 6.98456 6.98456 4.5314 10 4.5314C13.0154 4.5314 15.4686 6.98456 15.4686 10C15.4686 13.0154 13.0154 15.4686 10 15.4686ZM15.5994 5.82108C14.7083 5.82108 13.9835 5.09628 13.9835 4.20517C13.9835 3.31406 14.7083 2.58911 15.5994 2.58911C16.4905 2.58911 17.2154 3.31406 17.2154 4.20517C17.2154 5.09628 16.4905 5.82108 15.5994 5.82108Z' fill='white'/%3E%3Cpath d='M10.0016 5.83276C7.70423 5.83276 5.83496 7.70188 5.83496 9.99943C5.83496 12.2968 7.70423 14.1661 10.0016 14.1661C12.2992 14.1661 14.1683 12.2968 14.1683 9.99943C14.1683 7.70188 12.2992 5.83276 10.0016 5.83276Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        &:hover{
          > a {
          content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5862 0H5.41382C2.42859 0 0 2.42859 0 5.41382V14.5863C0 17.5714 2.42859 20 5.41382 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41382C20 2.42859 17.5714 0 14.5862 0V0ZM10 15.4686C6.98456 15.4686 4.5314 13.0154 4.5314 10C4.5314 6.98456 6.98456 4.5314 10 4.5314C13.0154 4.5314 15.4686 6.98456 15.4686 10C15.4686 13.0154 13.0154 15.4686 10 15.4686ZM15.5994 5.82108C14.7083 5.82108 13.9835 5.09628 13.9835 4.20517C13.9835 3.31406 14.7083 2.58911 15.5994 2.58911C16.4905 2.58911 17.2154 3.31406 17.2154 4.20517C17.2154 5.09628 16.4905 5.82108 15.5994 5.82108Z' fill='%23FFD459'/%3E%3Cpath d='M10.0016 5.83276C7.70423 5.83276 5.83496 7.70188 5.83496 9.99943C5.83496 12.2968 7.70423 14.1661 10.0016 14.1661C12.2992 14.1661 14.1683 12.2968 14.1683 9.99943C14.1683 7.70188 12.2992 5.83276 10.0016 5.83276Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
          }
        }
      }
      &--ytube {
        > a {
          content: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.1849 2.33452C22.5389 1.18549 21.8379 0.97414 20.4105 0.893767C18.9846 0.797022 15.3991 0.756836 12.2929 0.756836C9.18065 0.756836 5.59364 0.797022 4.16926 0.892279C2.74488 0.97414 2.04236 1.184 1.39045 2.33452C0.725141 3.48207 0.382812 5.45864 0.382812 8.93848C0.382812 8.94146 0.382812 8.94295 0.382812 8.94295C0.382812 8.94592 0.382812 8.94741 0.382812 8.94741V8.95039C0.382812 12.4153 0.725141 14.4068 1.39045 15.5424C2.04236 16.6915 2.74339 16.8998 4.16777 16.9966C5.59364 17.0799 9.18065 17.1291 12.2929 17.1291C15.3991 17.1291 18.9846 17.0799 20.412 16.9981C21.8394 16.9013 22.5404 16.693 23.1863 15.5439C23.8576 14.4083 24.197 12.4168 24.197 8.95188C24.197 8.95188 24.197 8.94741 24.197 8.94444C24.197 8.94444 24.197 8.94146 24.197 8.93997C24.197 5.45864 23.8576 3.48207 23.1849 2.33452ZM9.31312 13.4081V4.4778L16.755 8.94295L9.31312 13.4081Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        &:hover{
          > a {
            content: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.1849 2.33452C22.5389 1.18549 21.8379 0.97414 20.4105 0.893767C18.9846 0.797022 15.3991 0.756836 12.2929 0.756836C9.18065 0.756836 5.59364 0.797022 4.16926 0.892279C2.74488 0.97414 2.04236 1.184 1.39045 2.33452C0.725141 3.48207 0.382812 5.45864 0.382812 8.93848C0.382812 8.94146 0.382812 8.94295 0.382812 8.94295C0.382812 8.94592 0.382812 8.94741 0.382812 8.94741V8.95039C0.382812 12.4153 0.725141 14.4068 1.39045 15.5424C2.04236 16.6915 2.74339 16.8998 4.16777 16.9966C5.59364 17.0799 9.18065 17.1291 12.2929 17.1291C15.3991 17.1291 18.9846 17.0799 20.412 16.9981C21.8394 16.9013 22.5404 16.693 23.1863 15.5439C23.8576 14.4083 24.197 12.4168 24.197 8.95188C24.197 8.95188 24.197 8.94741 24.197 8.94444C24.197 8.94444 24.197 8.94146 24.197 8.93997C24.197 5.45864 23.8576 3.48207 23.1849 2.33452ZM9.31312 13.4081V4.4778L16.755 8.94295L9.31312 13.4081Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
          }
        }
      }
      &--fb {
        > a {
          content: url("data:image/svg+xml,%3Csvg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.96345 7.73714V4.92364C7.96345 4.14711 8.59368 3.51688 9.37021 3.51688H10.777V0H7.96345C5.63246 0 3.74319 1.88927 3.74319 4.22026V7.73714H0.929688V11.254H3.74319V22.5081H7.96345V11.254H10.777L12.1837 7.73714H7.96345Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        &:hover{
          > a {
            content: url("data:image/svg+xml,%3Csvg width='13' height='23' viewBox='0 0 13 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.96345 7.73714V4.92364C7.96345 4.14711 8.59368 3.51688 9.37021 3.51688H10.777V0H7.96345C5.63246 0 3.74319 1.88927 3.74319 4.22026V7.73714H0.929688V11.254H3.74319V22.5081H7.96345V11.254H10.777L12.1837 7.73714H7.96345Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
          }
        }
      }
      &--vk {
        > a {
          content: url("data:image/svg+xml,%3Csvg width='25' height='14' viewBox='0 0 25 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2955 12.4032C24.2315 12.2961 23.8355 11.4358 21.9304 9.66757C19.936 7.81602 20.2039 8.11667 22.6061 4.91516C24.0692 2.96537 24.6542 1.77467 24.4711 1.26564C24.2969 0.780426 23.2208 0.908427 23.2208 0.908427L19.6428 0.929264C19.6428 0.929264 19.3778 0.893543 19.1799 1.01113C18.9879 1.12722 18.8643 1.39513 18.8643 1.39513C18.8643 1.39513 18.2973 2.90435 17.5412 4.18734C15.9471 6.89471 15.3086 7.03759 15.0481 6.8694C14.4424 6.47796 14.5942 5.29469 14.5942 4.45525C14.5942 1.83123 14.9916 0.737263 13.8187 0.45447C13.4288 0.360702 13.143 0.29819 12.1473 0.287771C10.8702 0.274375 9.78818 0.292236 9.17646 0.591401C8.76864 0.790845 8.45459 1.23587 8.64659 1.26117C8.88324 1.29243 9.41906 1.40555 9.70334 1.79253C10.071 2.29114 10.0576 3.41338 10.0576 3.41338C10.0576 3.41338 10.2689 6.50177 9.56492 6.88578C9.0812 7.14922 8.41887 6.61191 6.99746 4.15459C6.26964 2.89691 5.71894 1.50527 5.71894 1.50527C5.71894 1.50527 5.61327 1.24629 5.42424 1.10787C5.19503 0.939683 4.87354 0.886101 4.87354 0.886101L1.47109 0.906939C1.47109 0.906939 0.960577 0.921823 0.773041 1.14359C0.606342 1.34155 0.759645 1.74936 0.759645 1.74936C0.759645 1.74936 3.42385 7.98123 6.43932 11.1232C9.20622 14.0032 12.3467 13.8142 12.3467 13.8142H13.7696C13.7696 13.8142 14.1998 13.7666 14.4185 13.5299C14.621 13.3126 14.6135 12.9048 14.6135 12.9048C14.6135 12.9048 14.5852 10.9952 15.4723 10.7139C16.346 10.4371 17.4682 12.5595 18.6575 13.3766C19.5564 13.9943 20.2396 13.8589 20.2396 13.8589L23.4203 13.8142C23.4203 13.8142 25.0843 13.7115 24.2955 12.4032Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        &:hover{
          > a {
            content: url("data:image/svg+xml,%3Csvg width='25' height='14' viewBox='0 0 25 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2955 12.4032C24.2315 12.2961 23.8355 11.4358 21.9304 9.66757C19.936 7.81602 20.2039 8.11667 22.6061 4.91516C24.0692 2.96537 24.6542 1.77467 24.4711 1.26564C24.2969 0.780426 23.2208 0.908427 23.2208 0.908427L19.6428 0.929264C19.6428 0.929264 19.3778 0.893543 19.1799 1.01113C18.9879 1.12722 18.8643 1.39513 18.8643 1.39513C18.8643 1.39513 18.2973 2.90435 17.5412 4.18734C15.9471 6.89471 15.3086 7.03759 15.0481 6.8694C14.4424 6.47796 14.5942 5.29469 14.5942 4.45525C14.5942 1.83123 14.9916 0.737263 13.8187 0.45447C13.4288 0.360702 13.143 0.29819 12.1473 0.287771C10.8702 0.274375 9.78818 0.292236 9.17646 0.591401C8.76864 0.790845 8.45459 1.23587 8.64659 1.26117C8.88324 1.29243 9.41906 1.40555 9.70334 1.79253C10.071 2.29114 10.0576 3.41338 10.0576 3.41338C10.0576 3.41338 10.2689 6.50177 9.56492 6.88578C9.0812 7.14922 8.41887 6.61191 6.99746 4.15459C6.26964 2.89691 5.71894 1.50527 5.71894 1.50527C5.71894 1.50527 5.61327 1.24629 5.42424 1.10787C5.19503 0.939683 4.87354 0.886101 4.87354 0.886101L1.47109 0.906939C1.47109 0.906939 0.960577 0.921823 0.773041 1.14359C0.606342 1.34155 0.759645 1.74936 0.759645 1.74936C0.759645 1.74936 3.42385 7.98123 6.43932 11.1232C9.20622 14.0032 12.3467 13.8142 12.3467 13.8142H13.7696C13.7696 13.8142 14.1998 13.7666 14.4185 13.5299C14.621 13.3126 14.6135 12.9048 14.6135 12.9048C14.6135 12.9048 14.5852 10.9952 15.4723 10.7139C16.346 10.4371 17.4682 12.5595 18.6575 13.3766C19.5564 13.9943 20.2396 13.8589 20.2396 13.8589L23.4203 13.8142C23.4203 13.8142 25.0843 13.7115 24.2955 12.4032Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
}
