.main {
  background-image: url(../img/mainBlock/main_bg.png);
  background-color: rgba($color: #3a3a3a, $alpha: 1);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 80px;
  @include min-phone-l {
    background-size: cover;
  }
  @include min-tablet-l {
    padding-top: 140px;
  }
  @include min-pc {
    background-size: 100% auto;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: unset;
    transition: background-color 0.3s, top 0.3s;
    border-bottom: 1px solid rgba(234, 234, 234, 0);
    &--active {
      background-color: #fff !important;
    }
    &--scroll {
      top: -33px;
      @include min-tablet-l {
        top: -49px;
      }
    }
  }
  &__header-top {
    display: flex;
    align-items: center;
    padding: 7px 0 7px 0;
    border-bottom: 1px solid rgba(220, 220, 220, 0.7);
    @include min-tablet-l {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
    }
  }
  &__header-bottom {
    padding: 8px 0;
    position: relative;
    @include min-tablet-l {
      padding: 15px 0;
    }
    > .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    border-bottom: 1px solid rgba(220, 220, 220, 0.7);
  }
  &__header-univer {
    display: none;
    @include min-tablet-l {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 120%;
      color: #ffffff;
      opacity: 0.8;
      &::before {
        content: $univer-logo;
        display: block;
        margin-right: 21px;
      }
      &--scroll {
        color: #7e7e7e;
      }
    }
  }
  &__header-merge {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__header-conts {
    display: flex;
    justify-content: center;
    align-items: center;
    @include min-tablet-l {
      margin-right: 140px;
    }
  }
  &__header-mail {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: rgba($color: #fff, $alpha: 0.8);
    display: flex;
    align-items: center;
    transition: color 0.3s;
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 12px;
      background-color: rgba($color: #fff, $alpha: 0.9);
      margin: 0 12px;
      transition: background-color;
    }
    &--scroll {
      color: rgba($color: #b1b1b1, $alpha: 0.8);
      @include min-tablet-l {
        color: #7e7e7e;
      }
      &::after {
        background-color: rgba($color: #b1b1b1, $alpha: 0.8);
        @include min-tablet-l {
          background-color: #7e7e7e;
        }
      }
    }
  }
  &__header-phone {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: rgba($color: #fff, $alpha: 0.8);
    transition: color 0.3s;
    &--scroll {
      color: rgba($color: #b1b1b1, $alpha: 0.8);
      @include min-tablet-l {
        color: #7e7e7e;
      }
    }
  }
  &__header-city {
    &--top {
      display: none;
      .city__selected {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        height: 49px;
        position: absolute;
    top: -7px;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 130px;
    padding-left: 21px;
    &--active,&:hover{
      background: #393939;
    }
      }
      @include min-tablet-l {
        display: flex;
        &--scroll {
          .city__selected {
            color: #7e7e7e;
          }
        }
      }
    }
    &--bottom {
      display: flex;
      margin-right: 20px;
      &--scroll {
        .city__selected {
          color: #000000;
        }
      }
      @include min-tablet-l {
        display: none;
      }
    }
  }
  &__header-logo {
  }
  &__header-menus {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__body {
    // margin-top: 78px;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    .container {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 112.4%;
    color: #fcfcfc;
    padding-bottom: 30px;
    @include min-tablet {
      font-size: 36px;
    }
    @include min-tablet-l {
      font-size: 40px;
    }
    @include min-pc {
      font-size: 60px;
      padding-bottom: 30px;
    }
  }
  &__subtitle {
    display: none;
    @include min-tablet {
      display: block;
      font-size: 24px;
      line-height: 140%;
      color: #fcfcfc;
      padding-bottom: 30px;
    }
  }
  &__button {
    order: 3;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 0;
    max-width: 172px;
    @include min-tablet {
      order: unset;
    }
    @include min-tablet-l {
      margin-bottom: 58px;
      max-width: 197px;
      font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
    }
  }
  &__advantages {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include min-tablet {
      flex-direction: row;
    }
  }
  &__advantage {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 120%;
    color: #fcfcfc;
    max-width: 241px;
    margin-bottom: 20px;
    @include min-tablet {
      margin-right: 25px;
      margin-bottom: unset;
      font-weight: bold;
      font-size: 12px;
      line-height: 120%;
      max-width: unset;
      align-items: flex-start;
    }
    @include min-tablet-l {
      margin-right: 61px;
      font-size: 14px;
      line-height: 140%;
    }
    @include min-pc {
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: unset;
      margin-right: unset;
    }
    &::before {
      margin-right: 16px;
    }
    &--first {
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='39' height='31' viewBox='0 0 39 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.6272 7.04279L26.2945 2.47645C25.9954 2.36578 25.6607 2.51142 25.5467 2.80155C25.4328 3.09196 25.5827 3.41706 25.8818 3.52773L36.7949 7.56843L29.2402 10.366L19.7389 6.18801C19.4473 6.0597 19.1043 6.18541 18.9725 6.46831C18.8403 6.7515 18.9698 7.08469 19.2611 7.21299L27.7153 10.9306L19.5 13.9723L2.20512 7.56843L19.5 1.16452L23.7621 2.74288C24.0605 2.85327 24.3955 2.70792 24.5098 2.4175C24.6237 2.12737 24.4738 1.80228 24.1748 1.69161L19.7065 0.0369524C19.5735 -0.0121728 19.4265 -0.0124619 19.2935 0.0369524L0.372826 7.04279C0.148476 7.12601 0 7.33523 0 7.56843V10.1374C0 10.3706 0.148476 10.5798 0.372826 10.663L6.2812 12.8505V14.7999C6.2812 15.1106 6.54037 15.3626 6.86023 15.3626C7.18039 15.3626 7.43955 15.1106 7.43955 14.7999V13.2797L19.2935 17.6689C19.3602 17.6934 19.4301 17.7058 19.5 17.7058C19.5699 17.7058 19.6398 17.6934 19.7065 17.6689L28.6418 14.3604V23.2631C25.8365 24.6932 22.6909 25.4595 19.5 25.4595C15.1451 25.4595 10.8735 24.0338 7.43955 21.4391V17.0502C7.43955 16.7395 7.18039 16.4875 6.86023 16.4875C6.54037 16.4875 6.2812 16.7395 6.2812 17.0502V21.7116C6.2812 21.8824 6.36095 22.0439 6.49812 22.1505C10.1731 25.0099 14.7907 26.5845 19.5 26.5845C22.676 26.5845 25.8098 25.8673 28.6418 24.5239V26.8007C27.7084 27.0483 27.0202 27.8785 27.0202 28.8625C27.0202 30.0409 28.0074 31 29.2208 31C30.4345 31 31.4218 30.0409 31.4218 28.8625C31.4218 27.8785 30.7336 27.0483 29.8002 26.8007V23.9297C30.7443 23.4081 31.6488 22.8146 32.5022 22.1505C32.6394 22.0439 32.7194 21.8824 32.7194 21.7116V12.8503L38.6272 10.6627C38.8515 10.5798 39 10.3706 39 10.1371V7.56843C39 7.33523 38.8515 7.12601 38.6272 7.04279ZM30.2634 28.8625C30.2634 29.4205 29.7957 29.8747 29.2208 29.8747C28.6463 29.8747 28.1785 29.4205 28.1785 28.8625C28.1785 28.3042 28.6463 27.8499 29.2208 27.8499C29.7957 27.8499 30.2634 28.3042 30.2634 28.8625ZM1.15835 8.38506L18.9207 14.9621V16.3266L1.15835 9.74959V8.38506ZM20.0793 16.3266V14.9621L28.6418 11.7915V13.1563L20.0793 16.3266ZM31.5607 21.4388C30.9957 21.8659 30.4075 22.2606 29.8002 22.623V13.9313L31.5607 13.2794V21.4388ZM29.8002 12.7272V11.3626L37.8417 8.38506V9.74959L29.8002 12.7272Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
      }
    }
    &--second {
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='39' height='38' viewBox='0 0 39 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.16667 22.1666C1.42057 22.1666 0 20.7461 0 19C0 17.2539 1.42057 15.8333 3.16667 15.8333C4.91277 15.8333 6.33333 17.2539 6.33333 19C6.33333 20.7461 4.91277 22.1666 3.16667 22.1666ZM3.16667 17.1C2.11913 17.1 1.26667 17.9524 1.26667 19C1.26667 20.0475 2.11913 20.9 3.16667 20.9C4.2142 20.9 5.06667 20.0475 5.06667 19C5.06667 17.9524 4.2142 17.1 3.16667 17.1Z' fill='%23FFD459'/%3E%3Cpath d='M34.8346 22.1666C33.0885 22.1666 31.668 20.7461 31.668 19C31.668 17.2539 33.0885 15.8333 34.8346 15.8333C36.5807 15.8333 38.0013 17.2539 38.0013 19C38.0013 20.7461 36.5807 22.1666 34.8346 22.1666ZM34.8346 17.1C33.7871 17.1 32.9346 17.9524 32.9346 19C32.9346 20.0475 33.7871 20.9 34.8346 20.9C35.8822 20.9 36.7346 20.0475 36.7346 19C36.7346 17.9524 35.8822 17.1 34.8346 17.1Z' fill='%23FFD459'/%3E%3Cpath d='M19.0007 38C17.2546 38 15.834 36.5794 15.834 34.8333C15.834 33.0872 17.2546 31.6666 19.0007 31.6666C20.7468 31.6666 22.1673 33.0872 22.1673 34.8333C22.1673 36.5794 20.7468 38 19.0007 38ZM19.0007 32.9333C17.9531 32.9333 17.1007 33.7858 17.1007 34.8333C17.1007 35.8808 17.9531 36.7333 19.0007 36.7333C20.0482 36.7333 20.9006 35.8808 20.9006 34.8333C20.9006 33.7858 20.0482 32.9333 19.0007 32.9333Z' fill='%23FFD459'/%3E%3Cpath d='M19.0007 6.33333C17.2546 6.33333 15.834 4.91277 15.834 3.16667C15.834 1.42057 17.2546 0 19.0007 0C20.7468 0 22.1673 1.42057 22.1673 3.16667C22.1673 4.91277 20.7468 6.33333 19.0007 6.33333ZM19.0007 1.26667C17.9531 1.26667 17.1007 2.11913 17.1007 3.16667C17.1007 4.2142 17.9531 5.06667 19.0007 5.06667C20.0482 5.06667 20.9006 4.2142 20.9006 3.16667C20.9006 2.11913 20.0482 1.26667 19.0007 1.26667Z' fill='%23FFD459'/%3E%3Cpath d='M34.6304 17.1202C34.3251 17.1202 34.0553 16.8979 34.0059 16.5863C33.8134 15.383 33.4765 14.205 33.0034 13.0865C32.8672 12.7642 33.0173 12.3924 33.3397 12.2562C33.6627 12.1194 34.0338 12.2702 34.17 12.5925C34.683 13.8054 35.049 15.0822 35.2568 16.3868C35.3119 16.732 35.0769 17.0569 34.7311 17.112C34.6975 17.1177 34.664 17.1202 34.6304 17.1202Z' fill='%23FFD459'/%3E%3Cpath d='M31.5373 9.96424C31.3479 9.96424 31.1604 9.87937 31.0357 9.71787C30.2389 8.68617 29.3111 7.75834 28.2775 6.96034C28.0007 6.7469 27.9494 6.34917 28.1635 6.0724C28.3776 5.79564 28.7753 5.74497 29.0521 5.9584C30.1712 6.82227 31.1756 7.82674 32.0382 8.94394C32.2517 9.22134 32.201 9.61844 31.9242 9.83187C31.8083 9.92117 31.6728 9.96424 31.5373 9.96424Z' fill='%23FFD459'/%3E%3Cpath d='M25.1594 5.04572C25.077 5.04572 24.9934 5.02989 24.913 4.99569C23.7945 4.52259 22.6165 4.18502 21.4126 3.99249C21.0674 3.93739 20.8318 3.61249 20.8869 3.26669C20.942 2.92152 21.2675 2.68529 21.6121 2.74165C22.9174 2.95002 24.1935 3.31609 25.4064 3.82909C25.7287 3.96525 25.8795 4.33702 25.7427 4.65939C25.6407 4.90069 25.4064 5.04572 25.1594 5.04572Z' fill='%23FFD459'/%3E%3Cpath d='M21.5114 35.2665C21.2055 35.2665 20.9363 35.0442 20.8869 34.7333C20.8318 34.3875 21.0668 34.0626 21.4126 34.0075C22.6165 33.8149 23.7945 33.4774 24.913 33.0043C25.236 32.8687 25.6071 33.0176 25.7433 33.3406C25.8795 33.6629 25.7294 34.0347 25.407 34.1709C24.1942 34.6839 22.918 35.0499 21.6127 35.2583C21.5779 35.264 21.5443 35.2665 21.5114 35.2665Z' fill='%23FFD459'/%3E%3Cpath d='M28.6687 32.1702C28.4794 32.1702 28.2919 32.0853 28.1671 31.9238C27.9537 31.6464 28.0044 31.2493 28.2811 31.0359C29.3135 30.2385 30.2413 29.31 31.0387 28.2771C31.2515 27.9997 31.6492 27.9496 31.9266 28.1624C32.204 28.3765 32.2547 28.7742 32.0412 29.051C31.178 30.1701 30.1735 31.1752 29.0557 32.0378C28.9404 32.1271 28.8043 32.1702 28.6687 32.1702Z' fill='%23FFD459'/%3E%3Cpath d='M33.5863 25.7938C33.504 25.7938 33.4204 25.7779 33.3399 25.7437C33.0176 25.6076 32.8668 25.2358 33.0036 24.9134C33.4767 23.7943 33.8143 22.617 34.0062 21.4136C34.0607 21.0678 34.3868 20.8316 34.7314 20.888C35.0765 20.9431 35.3121 21.268 35.257 21.6131C35.0487 22.9184 34.6832 24.1946 34.1702 25.4074C34.0683 25.6487 33.8333 25.7938 33.5863 25.7938Z' fill='%23FFD459'/%3E%3Cpath d='M4.41249 25.7938C4.16549 25.7938 3.93115 25.6487 3.82919 25.4074C3.31619 24.1946 2.95012 22.9178 2.74239 21.6131C2.68729 21.268 2.92225 20.9431 3.26805 20.888C3.61005 20.8316 3.93875 21.0678 3.99322 21.4136C4.18575 22.617 4.52269 23.795 4.99579 24.9134C5.13195 25.2358 4.98185 25.6076 4.65949 25.7437C4.57842 25.7773 4.49482 25.7938 4.41249 25.7938Z' fill='%23FFD459'/%3E%3Cpath d='M9.3352 32.1739C9.19967 32.1739 9.0635 32.1309 8.94823 32.0416C7.82913 31.1777 6.82467 30.1732 5.96207 29.056C5.74863 28.7786 5.7993 28.3815 6.07607 28.1681C6.35283 27.954 6.74993 28.0047 6.96463 28.2821C7.76137 29.3138 8.6892 30.2416 9.7228 31.0396C9.99957 31.2531 10.0509 31.6508 9.8368 31.9276C9.71203 32.0891 9.52457 32.1739 9.3352 32.1739Z' fill='%23FFD459'/%3E%3Cpath d='M16.4888 35.2665C16.4559 35.2665 16.4223 35.264 16.3881 35.2583C15.0828 35.0499 13.8067 34.6839 12.5938 34.1709C12.2715 34.0347 12.1207 33.6629 12.2575 33.3406C12.3937 33.0176 12.7648 32.8687 13.0878 33.0043C14.2063 33.4774 15.3843 33.8149 16.5883 34.0075C16.9334 34.0626 17.169 34.3875 17.1139 34.7333C17.0639 35.0442 16.7947 35.2665 16.4888 35.2665Z' fill='%23FFD459'/%3E%3Cpath d='M12.8406 5.04576C12.5936 5.04576 12.3592 4.90073 12.2573 4.65943C12.1211 4.33706 12.2712 3.9653 12.5936 3.82913C13.8064 3.31613 15.0826 2.95006 16.3879 2.7417C16.733 2.68533 17.0579 2.9222 17.113 3.26673C17.1681 3.61253 16.9332 3.93743 16.5874 3.99253C15.3834 4.18506 14.2054 4.52263 13.0869 4.99573C13.0059 5.0293 12.9229 5.04576 12.8406 5.04576Z' fill='%23FFD459'/%3E%3Cpath d='M6.45908 9.9693C6.32418 9.9693 6.18801 9.92623 6.07275 9.83756C5.79535 9.6235 5.74468 9.22576 5.95811 8.949C6.82135 7.8299 7.82581 6.8248 8.94365 5.9622C9.22041 5.74876 9.61751 5.7988 9.83221 6.0762C10.0456 6.3536 9.99498 6.7507 9.71821 6.96413C8.68588 7.7615 7.75805 8.68997 6.96068 9.72293C6.83591 9.88443 6.64845 9.9693 6.45908 9.9693Z' fill='%23FFD459'/%3E%3Cpath d='M3.36874 17.1202C3.33517 17.1202 3.30224 17.1177 3.26804 17.112C2.92287 17.0569 2.68727 16.732 2.74237 16.3868C2.95074 15.0815 3.31617 13.8054 3.82917 12.5925C3.96534 12.2702 4.33647 12.1194 4.65947 12.2562C4.98184 12.3924 5.13257 12.7642 4.99577 13.0865C4.52267 14.2056 4.1851 15.383 3.9932 16.5863C3.9438 16.8986 3.67464 17.1202 3.36874 17.1202Z' fill='%23FFD459'/%3E%3Cpath d='M13.9344 21.5333C13.8375 21.5333 13.7406 21.5111 13.6513 21.4668L8.58461 18.9335C8.36991 18.8258 8.23438 18.6067 8.23438 18.3666V13.3C8.23438 13.0802 8.34837 12.8769 8.53457 12.761C8.72141 12.6445 8.95511 12.6356 9.15081 12.7331L14.2175 15.2665C14.4322 15.3741 14.5677 15.5933 14.5677 15.8333V20.9C14.5677 21.1197 14.4537 21.323 14.2675 21.4389C14.1655 21.5016 14.0496 21.5333 13.9344 21.5333ZM9.50104 17.9752L13.301 19.8752V16.2247L9.50104 14.3247V17.9752Z' fill='%23FFD459'/%3E%3Cpath d='M13.9341 21.5333C13.8182 21.5333 13.7029 21.5016 13.601 21.4389C13.4148 21.323 13.3008 21.1197 13.3008 20.9V15.8333C13.3008 15.5933 13.4363 15.3741 13.651 15.2665L18.7177 12.7331C18.914 12.6356 19.1471 12.6445 19.3339 12.761C19.5201 12.8769 19.6341 13.0802 19.6341 13.3V18.3666C19.6341 18.6067 19.4986 18.8258 19.2839 18.9335L14.2172 21.4668C14.1279 21.5111 14.031 21.5333 13.9341 21.5333ZM14.5674 16.2247V19.8752L18.3674 17.9752V14.3247L14.5674 16.2247Z' fill='%23FFD459'/%3E%3Cpath d='M13.9344 16.4666C13.8375 16.4666 13.7399 16.4445 13.6513 16.4001L8.58461 13.8668C8.36991 13.7591 8.23438 13.54 8.23438 13.3C8.23438 13.0599 8.36991 12.8408 8.58461 12.7331L13.6513 10.1998C13.8292 10.1105 14.0395 10.1105 14.2181 10.1998L19.2848 12.7331C19.4995 12.8408 19.635 13.0599 19.635 13.3C19.635 13.54 19.4995 13.7591 19.2848 13.8668L14.2181 16.4001C14.1282 16.4445 14.0313 16.4666 13.9344 16.4666ZM10.2838 13.3L13.9344 15.1252L17.5849 13.3L13.9344 11.4747L10.2838 13.3Z' fill='%23FFD459'/%3E%3Cpath d='M24.0672 21.5333C23.9703 21.5333 23.8734 21.5111 23.7841 21.4668L18.7174 18.9335C18.5027 18.8258 18.3672 18.6067 18.3672 18.3666V13.3C18.3672 13.0802 18.4812 12.8769 18.6674 12.761C18.8542 12.6445 19.0879 12.6356 19.2836 12.7331L24.3503 15.2665C24.565 15.3741 24.7005 15.5933 24.7005 15.8333V20.9C24.7005 21.1197 24.5865 21.323 24.4003 21.4389C24.2984 21.5016 24.1825 21.5333 24.0672 21.5333ZM19.6339 17.9752L23.4339 19.8752V16.2247L19.6339 14.3247V17.9752Z' fill='%23FFD459'/%3E%3Cpath d='M24.0669 21.5333C23.951 21.5333 23.8358 21.5016 23.7338 21.4389C23.5476 21.323 23.4336 21.1197 23.4336 20.9V15.8333C23.4336 15.5933 23.5691 15.3741 23.7838 15.2665L28.8505 12.7331C29.0468 12.6356 29.2799 12.6445 29.4667 12.761C29.6529 12.8769 29.7669 13.0802 29.7669 13.3V18.3666C29.7669 18.6067 29.6314 18.8258 29.4167 18.9335L24.35 21.4668C24.2607 21.5111 24.1638 21.5333 24.0669 21.5333ZM24.7003 16.2247V19.8752L28.5003 17.9752V14.3247L24.7003 16.2247Z' fill='%23FFD459'/%3E%3Cpath d='M24.0672 16.4666C23.9703 16.4666 23.8728 16.4445 23.7841 16.4001L18.7174 13.8668C18.5027 13.7591 18.3672 13.54 18.3672 13.3C18.3672 13.0599 18.5027 12.8408 18.7174 12.7331L23.7841 10.1998C23.9621 10.1105 24.1723 10.1105 24.3509 10.1998L29.4176 12.7331C29.6323 12.8408 29.7678 13.0599 29.7678 13.3C29.7678 13.54 29.6323 13.7591 29.4176 13.8668L24.3509 16.4001C24.261 16.4445 24.1641 16.4666 24.0672 16.4666ZM20.4167 13.3L24.0672 15.1252L27.7177 13.3L24.0672 11.4747L20.4167 13.3Z' fill='%23FFD459'/%3E%3Cpath d='M19.0008 29.1333C18.9039 29.1333 18.807 29.1112 18.7177 29.0668L13.651 26.5335C13.4363 26.4258 13.3008 26.2067 13.3008 25.9667V20.9C13.3008 20.6802 13.4148 20.4769 13.601 20.361C13.7878 20.2445 14.0209 20.2356 14.2172 20.3332L19.2839 22.8665C19.4986 22.9742 19.6341 23.1933 19.6341 23.4333V28.5C19.6341 28.7198 19.5201 28.9231 19.3339 29.039C19.2319 29.1017 19.116 29.1333 19.0008 29.1333ZM14.5674 25.5753L18.3674 27.4753V23.8247L14.5674 21.9247V25.5753Z' fill='%23FFD459'/%3E%3Cpath d='M19.0005 29.1333C18.8846 29.1333 18.7694 29.1017 18.6674 29.039C18.4812 28.9231 18.3672 28.7198 18.3672 28.5V23.4333C18.3672 23.1933 18.5027 22.9742 18.7174 22.8665L23.7841 20.3332C23.9804 20.2356 24.2135 20.2445 24.4003 20.361C24.5865 20.4769 24.7005 20.6802 24.7005 20.9V25.9667C24.7005 26.2067 24.565 26.4258 24.3503 26.5335L19.2836 29.0668C19.1943 29.1112 19.0974 29.1333 19.0005 29.1333ZM19.6339 23.8247V27.4753L23.4339 25.5753V21.9247L19.6339 23.8247Z' fill='%23FFD459'/%3E%3Cpath d='M19.0008 24.0667C18.9039 24.0667 18.8063 24.0445 18.7177 24.0002L13.651 21.4668C13.4363 21.3592 13.3008 21.14 13.3008 20.9C13.3008 20.66 13.4363 20.4408 13.651 20.3332L18.7177 17.7998C18.8956 17.7105 19.1059 17.7105 19.2845 17.7998L24.3512 20.3332C24.5659 20.4408 24.7014 20.66 24.7014 20.9C24.7014 21.14 24.5659 21.3592 24.3512 21.4668L19.2845 24.0002C19.1946 24.0445 19.0977 24.0667 19.0008 24.0667ZM15.3502 20.9L19.0008 22.7253L22.6513 20.9L19.0008 19.0747L15.3502 20.9Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
      }
    }
    &--third {
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4492 20.9383C12.4492 21.2507 12.7027 21.5042 13.0151 21.5042H15.2787C15.5911 21.5042 15.8446 21.2507 15.8446 20.9383V17.5429C15.8446 17.2306 15.5911 16.9771 15.2787 16.9771H13.0152C12.7028 16.9771 12.4493 17.2306 12.4493 17.5429V20.9383H12.4492ZM13.581 18.1089H14.7129V20.3725H13.581V18.1089Z' fill='%23FFD459'/%3E%3Cpath d='M13.0151 14.7134H15.2787C15.591 14.7134 15.8446 14.4599 15.8446 14.1476V10.7522C15.8446 10.4398 15.591 10.1863 15.2787 10.1863H13.0151C12.7027 10.1863 12.4492 10.4398 12.4492 10.7522V14.1476C12.4492 14.4599 12.7027 14.7134 13.0151 14.7134ZM13.581 11.318H14.7128V13.5816H13.581V11.318Z' fill='%23FFD459'/%3E%3Cpath d='M8.77927 10.6712L16.9763 5.75295L25.1734 10.6712C25.2645 10.7261 25.3652 10.7521 25.4642 10.7521C25.6566 10.7521 25.8439 10.6542 25.9498 10.4776C26.1111 10.2094 26.0239 9.86192 25.7563 9.70117L17.5422 4.7728V1.13182H20.3717V2.26365H18.674C18.3617 2.26365 18.1081 2.51717 18.1081 2.82952C18.1081 3.14188 18.3617 3.3954 18.674 3.3954H20.9376C21.2499 3.3954 21.5035 3.14188 21.5035 2.82952V0.565878C21.5035 0.253528 21.2499 0 20.9376 0H16.9763C16.664 0 16.4104 0.253528 16.4104 0.565878V4.7728L8.19641 9.70124C7.92876 9.86192 7.84162 10.2094 8.0029 10.4777C8.16299 10.7453 8.51155 10.8325 8.77927 10.6712Z' fill='%23FFD459'/%3E%3Cpath d='M6.22406 21.5042C6.53641 21.5042 6.78993 21.2507 6.78993 20.9383V17.5429C6.78993 17.2306 6.53641 16.9771 6.22406 16.9771H3.96041C3.64806 16.9771 3.39453 17.2306 3.39453 17.5429V18.6747C3.39453 18.987 3.64806 19.2406 3.96041 19.2406C4.27276 19.2406 4.52629 18.987 4.52629 18.6747V18.1088H5.65811V20.9383C5.65811 21.2507 5.91164 21.5042 6.22406 21.5042Z' fill='%23FFD459'/%3E%3Cpath d='M10.1864 28.8609V12.4498C10.1864 12.1374 9.93292 11.8839 9.62057 11.8839C9.30822 11.8839 9.05469 12.1374 9.05469 12.4498V28.8609C9.05469 29.1733 9.30822 29.4268 9.62057 29.4268C9.93292 29.4268 10.1864 29.1733 10.1864 28.8609Z' fill='%23FFD459'/%3E%3Cpath d='M7.35689 31.6904H26.5975C26.9098 31.6904 27.1634 31.4369 27.1634 31.1246C27.1634 30.8122 26.9098 30.5587 26.5975 30.5587H21.5044V24.8997H22.0703C22.3826 24.8997 22.6361 24.6462 22.6361 24.3338C22.6361 24.0215 22.3826 23.7679 22.0703 23.7679H11.8841C11.5718 23.7679 11.3182 24.0215 11.3182 24.3338C11.3182 24.6462 11.5718 24.8997 11.8841 24.8997H12.45V30.5586H7.35689C7.04454 30.5586 6.79102 30.8121 6.79102 31.1245C6.79102 31.4368 7.04454 31.6904 7.35689 31.6904ZM17.5431 28.295C17.8555 28.295 18.109 28.0415 18.109 27.7292C18.109 27.4168 17.8555 27.1633 17.5431 27.1633V24.8997H20.3726V30.5586H17.5431V28.295ZM13.5818 24.8996H16.4113V27.1632C16.099 27.1632 15.8455 27.4167 15.8455 27.7291C15.8455 28.0414 16.099 28.295 16.4113 28.295V30.5586H13.5818V24.8996Z' fill='%23FFD459'/%3E%3Cpath d='M29.9935 24.3337H27.7299C27.4176 24.3337 27.1641 24.5873 27.1641 24.8996V28.295C27.1641 28.6074 27.4176 28.8609 27.7299 28.8609H29.9935C30.3059 28.8609 30.5594 28.6074 30.5594 28.295V24.8996C30.5594 24.5873 30.3059 24.3337 29.9935 24.3337ZM29.4276 27.7291H28.2958V25.4656H29.4276V27.7291Z' fill='%23FFD459'/%3E%3Cpath d='M29.9935 17.5429H27.7299C27.4176 17.5429 27.1641 17.7964 27.1641 18.1088V21.5042C27.1641 21.8165 27.4176 22.0701 27.7299 22.0701H29.9935C30.3059 22.0701 30.5594 21.8165 30.5594 21.5042V18.1088C30.5594 17.7964 30.3059 17.5429 29.9935 17.5429ZM29.4276 20.9383H28.2958V18.6747H29.4276V20.9383Z' fill='%23FFD459'/%3E%3Cpath d='M28.861 32.8222H5.09322C4.78087 32.8222 4.52734 33.0757 4.52734 33.3881C4.52734 33.7004 4.78087 33.954 5.09322 33.954H28.861C29.1734 33.954 29.4269 33.7005 29.4269 33.3881C29.4269 33.0758 29.1734 32.8222 28.861 32.8222Z' fill='%23FFD459'/%3E%3Cpath d='M33.3879 12.4498C33.0756 12.4498 32.8221 12.7034 32.8221 13.0157V13.5816H26.5971C26.2848 13.5816 26.0312 13.8351 26.0312 14.1475C26.0312 14.4598 26.2848 14.7133 26.5971 14.7133H32.8221V33.3881C32.8221 33.7004 33.0756 33.9539 33.3879 33.9539C33.7003 33.9539 33.9538 33.7004 33.9538 33.3881V13.0156C33.9538 12.7034 33.7003 12.4498 33.3879 12.4498Z' fill='%23FFD459'/%3E%3Cpath d='M18.1094 20.9383C18.1094 21.2507 18.3629 21.5042 18.6753 21.5042H20.9388C21.2512 21.5042 21.5047 21.2507 21.5047 20.9383V17.5429C21.5047 17.2306 21.2512 16.9771 20.9388 16.9771H18.6753C18.3629 16.9771 18.1094 17.2306 18.1094 17.5429V20.9383ZM19.2411 18.1089H20.373V20.3725H19.2411V18.1089Z' fill='%23FFD459'/%3E%3Cpath d='M5.65898 27.7291C5.65898 27.6556 5.62675 20.3724 2.82946 20.3724C0.0322298 20.3724 0 27.6556 0 27.7291C0 29.0958 0.973923 30.2383 2.26358 30.5015V33.3882C2.26358 33.7005 2.51711 33.954 2.82946 33.954C3.14181 33.954 3.39534 33.7005 3.39534 33.3882V30.5015C4.68506 30.2383 5.65898 29.0958 5.65898 27.7291ZM2.82952 29.4268C1.89353 29.4268 1.13182 28.6651 1.13182 27.7291C1.13182 24.9098 1.88902 21.5042 2.82952 21.5042C3.77002 21.5042 4.52723 24.9098 4.52723 27.7291C4.52723 28.6651 3.76551 29.4268 2.82952 29.4268Z' fill='%23FFD459'/%3E%3Cpath d='M24.8993 28.8609V11.8839C24.8993 11.5715 24.6458 11.318 24.3335 11.318C24.0211 11.318 23.7676 11.5715 23.7676 11.8839V28.8609C23.7676 29.1732 24.0211 29.4268 24.3335 29.4268C24.6458 29.4268 24.8993 29.1732 24.8993 28.8609Z' fill='%23FFD459'/%3E%3Cpath d='M18.6753 14.7134H20.9388C21.2512 14.7134 21.5047 14.4599 21.5047 14.1476V10.7522C21.5047 10.4398 21.2512 10.1863 20.9388 10.1863H18.6753C18.3629 10.1863 18.1094 10.4398 18.1094 10.7522V14.1476C18.1094 14.4599 18.3629 14.7134 18.6753 14.7134ZM19.2411 11.318H20.373V13.5816H19.2411V11.318Z' fill='%23FFD459'/%3E%3Cpath d='M0.565878 19.8066C0.878229 19.8066 1.13176 19.553 1.13176 19.2407V14.7135H7.35668C7.66903 14.7135 7.92256 14.4599 7.92256 14.1476C7.92256 13.8352 7.66903 13.5817 7.35668 13.5817H1.13182V13.0158C1.13182 12.7035 0.878295 12.45 0.565945 12.45C0.253594 12.45 0 12.7033 0 13.0158V19.2407C0 19.553 0.253528 19.8066 0.565878 19.8066Z' fill='%23FFD459'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__calendar {
    width: 100%;
    margin-top: 43px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    @include min-tablet-l {
      width: unset;
      justify-content: flex-end;
      align-self: flex-end;
    }
    &-item {
      text-decoration: none;
      color: #000;
      display: none;
      padding: 14px 10px;
      position: relative;
      &:first-child {
        display: flex;
      }
      &::after{
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: #E16C48;
      }
      &:hover{
        &::after{
          display: block;
        }
      }
      
      @include min-tablet-l {
        color: #000;
        display: flex;
        border-right: 1px solid #ebebeb;
        padding: 15px 20px 15px 15px;
      }
      @include min-pc {
        color: #000;
        padding: 25px 20px 25px 20px;
        width: 360px;
        justify-content: center;
        align-items: center;
      }
    }
    &-date {
      border-right: 1px solid #ebebeb;
      text-align: center;
      padding-right: 10px;
      @include min-tablet-l {
        padding-right: 20px;
      }
    }
    &-day {
      font-weight: bold;
      font-size: 12px;
      line-height: 120%;
      @include min-tablet-l {
        font-size: 20px;
        line-height: 140%;
      }
      @include min-pc {
        font-size: 26px;
        line-height: 140%;
      }
    }
    &-month {
      font-weight: bold;
      font-size: 12px;
      line-height: 120%;
      padding-bottom: 3px;
      @include min-tablet-l {
        font-size: 14px;
        line-height: 120%;
      }
      @include min-pc {
        font-size: 16px;
        line-height: 120%;
      }
    }
    &-time {
      font-size: 12px;
      line-height: 140%;
      @include min-tablet-l {
        font-size: 14px;
        line-height: 140%;
      }
      @include min-pc {
        font-size: 16px;
        line-height: 140%;
      }
    }
    &-describe {
      font-size: 10px;
      line-height: 120%;
      padding-left: 10px;
      display: flex;
      align-items: center;
      @include min-tablet-l {
        font-size: 12px;
        line-height: 120%;
      }
      @include min-pc {
        font-size: 16px;
        line-height: 120%;
      }
    }
    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      &::before {
        content: "";
        background: url("data:image/svg+xml,%3Csvg width='38' height='18' viewBox='0 0 38 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.4779 0.219964L27.2507 1.44831C26.9535 1.74579 26.9584 2.22965 27.2616 2.52106L32.3087 7.37272H0.750334C0.335962 7.37272 0 7.70901 0 8.12377V9.87623C0 10.291 0.335962 10.6273 0.750334 10.6273H32.3087L27.2616 15.4789C26.9584 15.7703 26.9536 16.2542 27.2508 16.5517L28.478 17.78C28.771 18.0733 29.2461 18.0733 29.5391 17.78L37.7802 9.53106C38.0732 9.23777 38.0732 8.76223 37.7802 8.46888L29.539 0.219964C29.246 -0.0733213 28.7709 -0.0733213 28.4779 0.219964Z' fill='%23FFD459'/%3E%3C/svg%3E%0A") no-repeat;
        background-position: right;
        width: 28px;
        height: 22px;
        transition: width .3s;
      }
      @include min-tablet-l {
        width: 116px;
        border: 1px solid #FFD459;
        &:hover{
          &::before {
            content: "";
            background: url("data:image/svg+xml,%3Csvg width='38' height='18' viewBox='0 0 38 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.4779 0.219964L27.2507 1.44831C26.9535 1.74579 26.9584 2.22965 27.2616 2.52106L32.3087 7.37272H0.750334C0.335962 7.37272 0 7.70901 0 8.12377V9.87623C0 10.291 0.335962 10.6273 0.750334 10.6273H32.3087L27.2616 15.4789C26.9584 15.7703 26.9536 16.2542 27.2508 16.5517L28.478 17.78C28.771 18.0733 29.2461 18.0733 29.5391 17.78L37.7802 9.53106C38.0732 9.23777 38.0732 8.76223 37.7802 8.46888L29.539 0.219964C29.246 -0.0733213 28.7709 -0.0733213 28.4779 0.219964Z' fill='%23E16C48'/%3E%3C/svg%3E%0A") no-repeat;
            background-position: right;
            width: 38px;
            height: 22px;
          }
          border: 1px solid #E16C48;
        }
      }
      @include min-pc {
        width: 140px;
      }
      // &::after {
      //   display: block;
      //   content: "";
      //   width: 100%;
      //   padding-top: 100%;
      // }
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  &__img {
    max-height: 30px;
    margin-right: 10px;
    margin-bottom: 7px;
    @include min-tablet-l {
      max-height: 52px;
      margin-right: 18px;
      margin-bottom: 8px;
    }
  }
  &__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 110%;
    color: #fff;

    @include min-tablet-l {
      font-size: 20px;
      line-height: 110%;
    }
    &--scroll {
      color: #000;
    }
  }
}

.nav {
  display: none;
  &--active {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    .nav {
      &__links {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &__links-inner {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
      }
      &__link {
        text-decoration: none;
        color: #000000;
        text-align: center;
        padding: 15px 0;
        &:first-child {
        }
        &:last-child {
        }
      }
      &__button {
        background: #ffd459;
        &:hover {
          background: #fff;
        }
      }
    }
  }

  @include min-tablet-l {
    display: flex;
  }
  &__button {
    @include min-tablet-l {
      text-decoration: none;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      border: unset;
      padding: 13px 30px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid transparent;
      &:hover{
        background: #E16C48;
        border: 1px solid #E16C48;

      }
      &--scroll {
        background: #ffffff;
        border: 1px solid #ffd459;
        color: #000;
      }
    }
  }
  &__links {
    @include min-tablet-l {
      display: flex;
      align-items: center;
    }
  }
  &__links-inner {
    @include min-tablet-l {
      &--scroll {
        > a {
          color: #000000;
          &:hover {
            color: #8e8e8e;
          }
        }
      }
    }
  }
  &__link {
    @include min-tablet-l {
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      color: #fcfcfc;
      margin-right: 20px;
      &:hover {
        color: #FFD459;
      }
      &:last-child {
        margin-right: 70px;
      }
    }
    @include min-pc {
      margin-right: 42px;
      &:last-child {
        margin-right: 100px;
      }
    }
  }
}
