/* Circe-Regular */
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Circe-Regular.ttf");
}
/* Circe-Bold */
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Circe-Bold.ttf");
}

