doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= 'Факультет бизнеса "Капитаны"'
        
        link(rel="stylesheet" href="./css/style.css")
        link(rel="stylesheet" href="./slick/slick.css")
    body
        block content
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.jss")
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js")
        script(type="text/javascript" src="slick/slick.min.js")
        script(type='text/javascript' src='./js/script.js')